:root {
  --text-color: #212121;
  --blue-color: #2196f3;
  --second-blue:#188CE8;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --black-color: #000000;
  --button-color: #f5f4fa;
  --footer-background-color:#2F303A;
  --footer-info-color:#ACACB0;
}
/*color: var(--black-color);*/

body {
  background-color: var(--white-color);
  font-family: Roboto,sans-serif;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

li {
  list-style: none;
}
button{
  font-family: 'Roboto';
}

.footer{
  background-color:var(--footer-background-color) ;
}

.info-footer{
  color: var(--footer-info-color);
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em; 
}

/*top line */

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-t {
  color: var(--black-color);
}

.logo-b {
  color: var(--white-color);
}

.logo-basement {
  color: var(--white-color);
}

.logo-color {
  color: var(--blue-color);
}

.top-line {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}

.info {
  font-weight: 500;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.top-line:hover,
.top-line:focus,
.info:hover,
.info:focus,
.active
 {
  color: var(--blue-color);
}

/*hat*/

.hat{
  background-color: var(--footer-background-color);
}

.hat-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hat-button:hover, .hat-button:focus {
  background-color:var(--second-blue);
}

.hat-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--blue-color);
  cursor: pointer;
  margin: auto;
}


/*Peculiarities*/

.peculiarities-headers {
  font-weight: 700;
  font-size: 14px;
  line-height:1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.peculiarities-text {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*What are we doing*/

.we-doing {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
}

/*our team*/

.our-team{
  background-color: var(--button-color);
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*basement*/

.home {
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration: none;
}

/*portfolio*/

.navigation-portfolio:hover,
.navigation-portfolio:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.navigation-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--button-color);
}

.box-title-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.secondary-tex {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;  
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.container{
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid red;
}
